{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "topLevelAwait": true,
      "dynamicImport": true
    },
    "paths": {
      "src/*": ["./src/*"],
      "public/*": ["./public/*"]
     },
    "baseUrl": "."
  }
}
